###Taking a look at Yun's filtered csv

In [1]:
# uploading files
# source: https://towardsdatascience.com/3-ways-to-load-csv-files-into-colab-7c14fcbdcb92
from google.colab import files
uploaded = files.upload()

Saving tmbd_movie_genre_updated.csv to tmbd_movie_genre_updated.csv

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('tmbd_movie_genre_updated.csv')

In [4]:
df.head(3)

,Unnamed: 0.1,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count,genre
0,0,0,"['12', '14', '10751']",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788,"['Adventure', 'Fantasy', 'Family']"
1,1,1,"['14', '12', '16', '10751']",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610,"['Fantasy', 'Adventure', 'Animation', 'Family']"
2,2,2,"['12', '28', '878']",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368,"['Adventure', 'Action', 'ScienceFiction']"

In [5]:
df.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'genre_ids', 'id', 'original_language',
       'original_title', 'popularity', 'release_date', 'title', 'vote_average',
       'vote_count', 'genre'],
      dtype='object')

Dropping the unnamed columns

In [6]:
selected_columns = ['genre_ids', 'id', 'original_language',
       'original_title', 'popularity', 'release_date', 'title', 'vote_average',
       'vote_count', 'genre']

df = df[selected_columns].copy()

In [7]:
df.head(3)

,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count,genre
0,"['12', '14', '10751']",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788,"['Adventure', 'Fantasy', 'Family']"
1,"['14', '12', '16', '10751']",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610,"['Fantasy', 'Adventure', 'Animation', 'Family']"
2,"['12', '28', '878']",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368,"['Adventure', 'Action', 'ScienceFiction']"

In [8]:
df_copy = df.copy()

In [10]:
df_copy['genre'].nunique()

2477

In [11]:
df_copy['genre'].unique()

array(["['Adventure', 'Fantasy', 'Family']",
       "['Fantasy', 'Adventure', 'Animation', 'Family']",
       "['Adventure', 'Action', 'ScienceFiction']", ...,
       "['Drama', 'Fantasy', 'Horror', 'ScienceFiction', 'Romance', 'Thriller']",
       "['Animation', 'Horror', 'Mystery']",
       "['Family', 'Adventure', 'Action']"], dtype=object)

In [12]:
df_copy[['main_genre', 'subgenre_1', 'subgenre_2', 'subgenre_3', 'subgenre_4', 'subgenre_5', 'subgenre_6']] = df_copy['genre'].str.split(',', expand=True)

In [13]:
df_copy.head(3)

,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count,genre,main_genre,subgenre_1,subgenre_2,subgenre_3,subgenre_4,subgenre_5,subgenre_6
0,"['12', '14', '10751']",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788,"['Adventure', 'Fantasy', 'Family']",['Adventure','Fantasy','Family'],None,None,None,None
1,"['14', '12', '16', '10751']",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610,"['Fantasy', 'Adventure', 'Animation', 'Family']",['Fantasy','Adventure','Animation','Family'],None,None,None
2,"['12', '28', '878']",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368,"['Adventure', 'Action', 'ScienceFiction']",['Adventure','Action','ScienceFiction'],None,None,None,None

In [14]:
# remove punctuation from main_genre column
df_copy['main_genre'] = df_copy['main_genre'].str.replace('[^\w\s]','', regex=True)

In [15]:
# sanity check
df_copy.head(3)

,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count,genre,main_genre,subgenre_1,subgenre_2,subgenre_3,subgenre_4,subgenre_5,subgenre_6
0,"['12', '14', '10751']",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788,"['Adventure', 'Fantasy', 'Family']",Adventure,'Fantasy','Family'],None,None,None,None
1,"['14', '12', '16', '10751']",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610,"['Fantasy', 'Adventure', 'Animation', 'Family']",Fantasy,'Adventure','Animation','Family'],None,None,None
2,"['12', '28', '878']",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368,"['Adventure', 'Action', 'ScienceFiction']",Adventure,'Action','ScienceFiction'],None,None,None,None

####Now for the other columns:

In [16]:

df_copy['subgenre_1'] = df_copy['subgenre_1'].str.replace('[^\w\s]','', regex=True)

In [17]:
df_copy['subgenre_2'] = df_copy['subgenre_2'].str.replace('[^\w\s]','', regex=True)

In [18]:
df_copy['subgenre_3'] = df_copy['subgenre_3'].str.replace('[^\w\s]','', regex=True)

In [19]:
df_copy['subgenre_4'] = df_copy['subgenre_4'].str.replace('[^\w\s]','', regex=True)

In [20]:
df_copy['subgenre_5'] = df_copy['subgenre_5'].str.replace('[^\w\s]','', regex=True)

In [21]:
df_copy['subgenre_6'] = df_copy['subgenre_6'].str.replace('[^\w\s]','', regex=True)

In [22]:
df_copy.head()

,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count,genre,main_genre,subgenre_1,subgenre_2,subgenre_3,subgenre_4,subgenre_5,subgenre_6
0,"['12', '14', '10751']",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788,"['Adventure', 'Fantasy', 'Family']",Adventure,Fantasy,Family,None,None,None,None
1,"['14', '12', '16', '10751']",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610,"['Fantasy', 'Adventure', 'Animation', 'Family']",Fantasy,Adventure,Animation,Family,None,None,None
2,"['12', '28', '878']",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368,"['Adventure', 'Action', 'ScienceFiction']",Adventure,Action,ScienceFiction,None,None,None,None
3,"['16', '35', '10751']",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174,"['Animation', 'Comedy', 'Family']",Animation,Comedy,Family,None,None,None,None
4,"['28', '878', '12']",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186,"['Action', 'ScienceFiction', 'Adventure']",Action,ScienceFiction,Adventure,None,None,None,None

Exporting CSV

In [23]:
from google.colab import drive
drive.mount('/content/drive')
path = '/content/drive/My Drive/df_copy.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
  df_copy.to_csv(f)

Mounted at /content/drive

Dropping genre id and genre columns.

In [24]:
df_tmdb_edit = df_copy.copy()

In [26]:
df_tmdb_edit.columns

Index(['genre_ids', 'id', 'original_language', 'original_title', 'popularity',
       'release_date', 'title', 'vote_average', 'vote_count', 'genre',
       'main_genre', 'subgenre_1', 'subgenre_2', 'subgenre_3', 'subgenre_4',
       'subgenre_5', 'subgenre_6'],
      dtype='object')

In [30]:
df_tmdb_edit['subgenre_6'].nunique()

8

In [31]:
df_tmdb_edit['subgenre_6'].value_counts()

 TVMovie      2
 Family       1
 Romance      1
 History      1
 Western      1
 Adventure    1
 Thriller     1
 Crime        1
Name: subgenre_6, dtype: int64

In [27]:
selected_columns = ['id', 'original_language',
       'original_title', 'popularity', 'release_date', 'title', 'vote_average',
       'vote_count', 'main_genre', 'subgenre_1', 'subgenre_2', 'subgenre_3', 'subgenre_4',
       'subgenre_5', 'subgenre_6']

df_tmdb_edit = df_tmdb_edit[selected_columns].copy()

Exporting to csv

In [29]:
path = '/content/drive/My Drive/df_tmdb_edit.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
  df_tmdb_edit.to_csv(f)

Creating a df with only 3 genres max

In [32]:
selected_columns = ['id', 'original_language',
       'original_title', 'popularity', 'release_date', 'title', 'vote_average',
       'vote_count', 'main_genre', 'subgenre_1', 'subgenre_2']

df_tmdb_3genre_edit = df_tmdb_edit[selected_columns].copy()

Exporting to csv

In [33]:
path = '/content/drive/My Drive/df_tmdb_3genre_edit.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
  df_tmdb_3genre_edit.to_csv(f)

Creating a df with only 3 genres max + the id columns in case Yun wants those!

In [34]:
selected_columns = ['id','genre_ids','original_language',
       'original_title', 'popularity', 'release_date', 'title', 'vote_average',
       'vote_count', 'genre', 'main_genre', 'subgenre_1', 'subgenre_2']

df_tmdb_3genre_yun_edit = df_copy[selected_columns].copy()

Exporting to csv

In [35]:
path = '/content/drive/My Drive/df_tmdb_3genre_yun_edit.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
  df_tmdb_3genre_yun_edit.to_csv(f)

In [36]:
 df_tmdb_3genre_yun_edit.head()

,id,genre_ids,original_language,original_title,popularity,release_date,title,vote_average,vote_count,genre,main_genre,subgenre_1,subgenre_2
0,12444,"['12', '14', '10751']",en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788,"['Adventure', 'Fantasy', 'Family']",Adventure,Fantasy,Family
1,10191,"['14', '12', '16', '10751']",en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610,"['Fantasy', 'Adventure', 'Animation', 'Family']",Fantasy,Adventure,Animation
2,10138,"['12', '28', '878']",en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368,"['Adventure', 'Action', 'ScienceFiction']",Adventure,Action,ScienceFiction
3,862,"['16', '35', '10751']",en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174,"['Animation', 'Comedy', 'Family']",Animation,Comedy,Family
4,27205,"['28', '878', '12']",en,Inception,27.920,2010-07-16,Inception,8.3,22186,"['Action', 'ScienceFiction', 'Adventure']",Action,ScienceFiction,Adventure